{% extends "master.html" %}

{% block content %}
<h3 class="text-center">{{ mititulo }}</h3>

<div class="mb-4">
    <h5>Número de Matrículas {{ numero_matriculas }}</h5>
</div>

<div class="mb-5">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th><b>Estudiante</b></th>
            <th><b>Módulo</b></th>
            <th><b>Comentario</b></th>
            <th><b>Acciones</b></th>
        </tr>
        </thead>
        <tbody>
        {% for e in matriculas %}
        <tr>
            <td>
                {{ e.estudiante.nombre }} {{ e.estudiante.apellido }}
                <br>
                {{ e.estudiante.get_tipo_estudiante_display }}
            </td>
            <td>{{ e.modulo.nombre }}</td>
            <td>{{ e.comentario }}</td>
            <td>
                [<a href="{% url 'detalle_estudiante' e.estudiante.id %}">historial</a>]
                [<a href="{% url 'detalle_matricula' e.id %}">ver</a>]
                [<a href="{% url 'editar_matricula' e.id %}">editar</a>]
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}